      body { 
          background-color: #F2F6D0 
    }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #cloud {
        float: right;
        height: 500px;
        width: 30%;
        background-color: yellow;
      }